<header>
  <mat-toolbar color="primary">
    <span routerLink="/">Glove box log</span>
    <span class="header-spacer"></span>

    <span *ngIf="auth.user$ | async as user">{{ user.displayName }} </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        *ngIf="auth.user$ | async as user; else login"
        mat-menu-item
        (click)="auth.signOut()"
      >
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      <ng-template #login>
        <button mat-menu-item (click)="auth.googleSignin()">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
      </ng-template>
    </mat-menu>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
