:host {
  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto;

  height: 100vh;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}
footer {
  grid-area: footer;
}

.header-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
}
